<!DOCTYPE html>
<html lang="pt-br" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/public/css/sweetalert2.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/table.css">

    <script src="/public/js/jquery.js"></script>
    <script src="/public/js/jquery.mask.min.js"></script>
    <script src="/public/js/socket.js"></script>
    <script src="/public/js/table.js"></script>
    <script src="/public/js/popper.js"></script>

    <script src="/public/js/sweetalert2.all.min.js"></script>
    
    <script src="/public/js/views/header.js"></script>
</head>
<body class="h-100 d-flex">
    <nav id="menuPrincipal" class="navbar bg-primary navbar-primary text-light d-flex pt-3">

        <div class="accordion text-left w-100">

            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a href="/" class="text-light btn btn-block"><i class="fa-solid fa-gauge-high"></i><br>Dashboard</a>
                </li>
            </ul>

            <span href="#collapseVendas#" data-toggle="collapse" class="collapsed btn btn-block bg-secondary mt-3 disabled"><i class="fa-solid fa-shop"></i><br>Vendas</span>
            <div id="collapseVendas" class="collapse" data-parent="#accordion">
                
                <ul class="navbar-nav mt-3">
                    <!--
                    <li class="navbar-item mt-2">
                        <span class="border-bottom disabled">Produtos</span>
                    </li>
                    -->

                    <li class="navbar-item">
                        <a href="#" class="nav-link">Produtos</a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="nav-link">Tabelas</a>
                    </li>
                </ul>

            </div>

            <span href="#collapseClientes" data-toggle="collapse" class="collapsed btn btn-block bg-secondary mt-3"><i class="fa-solid fa-users"></i><br>Clientes</span>
            <div id="collapseClientes" class="collapse" data-parent="#accordion">
                
                <ul class="navbar-nav mt-1">
                    <li class="navbar-item">
                        <a href="/clientes" class="nav-link">Gestão</a>
                    </li>
                </ul>

            </div>

            <span href="#collapseEstoque" data-toggle="collapse" class="collapsed btn btn-block bg-secondary mt-3"><i class="fa-solid fa-boxes-stacked"></i><br>Estoque</span>
            <div id="collapseEstoque" class="collapse" data-parent="#accordion">
                
                <ul class="navbar-nav mt-1">
                    <!--
                    <li class="navbar-item mt-2">
                        <span class="border-bottom disabled">Produtos</span>
                    </li>
                    -->
                    <li class="navbar-item">
                        <a href="/categorias" class="nav-link">Categorias</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/marcas" class="nav-link">Marcas</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/medidas" class="nav-link">Medidas</a>
                    </li>

                    <li class="navbar-item">
                        <a href="/produtos" class="nav-link">Produtos</a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="nav-link">Tabelas</a>
                    </li>
                </ul>

            </div>

            <span href="#collapseFinanceiro#" data-toggle="collapse" class="collapsed btn btn-block bg-secondary mt-3 disabled"><i class="fa-solid fa-sack-dollar"></i><br>Financeiro</span>
            <div id="collapseFinanceiro" class="collapse" data-parent="#accordion">
                
                <ul class="navbar-nav mt-1">
                    <!--
                    <li class="navbar-item mt-2">
                        <span class="border-bottom disabled">Produtos</span>
                    </li>
                    -->

                    <li class="navbar-item">
                        <a href="#" class="nav-link">Produtos</a>
                    </li>

                    <li class="navbar-item">
                        <a href="#" class="nav-link">Tabelas</a>
                    </li>
                </ul>

            </div>

        </div>

        <form action="/logoff" method="post" class="w-100 mt-auto">
            <button class="btn btn-danger btn-block text-light">Sair</button>
        </form>

    </nav>
    <section class="w-100 h-100 bg-light sectionMain pt-3 pb-3">
        
