<%- include("../includes/header.ejs",{title:title});%>

<script src="/public/js/jsBarCode.min.js"></script>
<script src="/public/js/qrcode.min.js"></script>

<input type="hidden" id="inp_id" value="">

<form id="form_cadastro">
   
    <div class="card">
        <div class="card-header bg-primary text-light">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="inp_nome">Nome</label>
                    <input type="text" name="inp_nome" id="inp_nome" class="form-control">
                </div>
                <div class="col-4">
                    <label for="inp_ativo">Ativo</label>
                    <select name="inp_ativo" id="inp_ativo" class="form-control">
                        <option value="1">Sim</option>
                        <option value="0">Não</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="inp_descricao">Descrição</label>
                    <input type="text" name="inp_descricao" id="inp_descricao" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="inp_altura">Altura(cm)</label>
                    <input type="number" name="inp_altura" id="inp_altura" class="form-control">
                </div>
                <div class="col">
                    <label for="inp_largura">Largura(cm)</label>
                    <input type="number" name="inp_largura" id="largura" class="form-control">
                </div>
                <div class="col">
                    <label for="inp_profundidade">Profundidade(cm)</label>
                    <input type="number" name="inp_profundidade" id="inp_profundidade" class="form-control">
                </div>
                <div class="col">
                    <label for="inp_peso">Peso(g)</label>
                    <input type="number" name="inp_peso" id="inp_peso" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header bg-primary text-light">
                    <strong>Identificação</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col">
                                    <input type="text" id="inp_barcodeVal" class="form-control" placeholder="Código Produto">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col d-flex">
                                    <div id="inp_qrCode" class="m-auto"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex">
                                    <svg id="inp_codigoDeBarras" class="m-auto"></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header bg-primary text-light">
                    <strong>Imagem</strong>
                </div>
                <div class="card-body d-flex">
                    <div class="w-100 h-100 container-foto m-auto" id="inp_fotoBotao" style="max-width:300px;max-height:300px;">
                        <img id="inp_fotoSrc" class="m-auto w-100 h-100">
                        <div class="overlay d-flex">
                            <i class="fa-solid fa-cloud-arrow-up m-auto"></i>
                        </div>
                    </div>
                    <input type="file" id="inp_foto" class="d-none">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card h-100">
                <div class="card-header bg-primary text-light">
                    <strong>Observações</strong>
                </div>
                <div class="card-body">
                    <textarea name="inp_obs" id="inp_obs" class="form-control h-100" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Estoque</strong>
        </div>
        <div class="card-body">

        </div>
    </div>
    
    <div class="card mt-3">
        <div class="card-header bg-primary text-light">
            <strong>Fiscal</strong>
        </div>
        <div class="card-body">

        </div>
    </div>

    <div class="mt-3">
        <a href="/produtos" class="btn btn-secondary text-light">Voltar</a>
        <%- 
            (produto['_id']!=undefined)?
            '<div id="btn_excluir" class="btn btn-danger text-light mr-1">Excluir</div><button type="submit" class="btn btn-primary text-light">Editar</button>':
            '<button type="submit" class="btn btn-primary text-light">Salvar</button>' 
        -%>
    </div>

</form>

<script>

    $('#form_cadastro').submit((e)=>{
        e.preventDefault();
        if($('#inp_id').val() == ""){
            socket.emit('addUsr',JSON.stringify($(e.target).serializeArray()));
        }
        else{
            Swal.fire({
                title:'Deseja salvar a edição?',
                showCancelButton: true,
                confirmButtonText: 'Salvar',
                cancelButtonText: 'Cancelar',
            }).then((resp)=>{
                if(resp.isConfirmed){
                    socket.emit('editUsr',{form:JSON.stringify($(e.target).serializeArray()),id:$('#inp_id').val()});
                };
            });
        }
    });

    socket.on('addUser-resp',(resp)=>{
        Swal.fire({
            icon:(resp['success'])?'success':'error',
            showConfirmButton: false,
            title:(resp['success'])?'Cliente salvo':resp['err'],
            timer: 1500
        }).then(()=>{if(resp['success']){location.href='/clientes'}});
    });
</script>

<script src="/public/js/views/produtos/produto/events.js"></script>

<%- include("../includes/footer.ejs"); %>