<%- include("includes/header.ejs",{title:title}); %>
<body class="bg-light w-100 h-100 d-flex">
    <div class="m-auto shadow border rounded p-2 text-center">
        <span>Seja Bem-vindo!</span><br>
        <span><i class="fa-solid fa-wand-sparkles"></i></span>
    </div>
    <script>
        $(document).ready(()=>{
            console.log('teste');
        });
        Swal.fire({title:'Teste',text:'funcionou?'});
    </script>
</body>
<%- include("includes/footer.ejs"); %>