:root{
    --primary: #183a44;
}
.bg-primary{background-color: var(--primary) !important;}
.text-primary{color: var(--primary) !important;}
.btn-primary {color: #fff;background-color: var(--primary)!important;border-color: var(--primary)!important;}

body{
    font-family: sans-serif;
}

textarea{
    resize: none;
}

.sectionMain{
    overflow-y: scroll;
}

#menuPrincipal{
    font-size: 0.8rem!important;
}

.accordion [data-parent="#accordion"] .navbar-nav{
    background-color: var(--light);
    border-radius: 0.25rem!important;
}
.accordion [data-parent="#accordion"] .navbar-nav .nav-link{
    color: var(--dark) !important;
    text-align: center !important;
    border-bottom: 1px solid #dee2e6 !important;
    margin-bottom: 0.25rem!important;
}

.navbar-item .disabled{
    border-color: rgba(255,255,255,0.5) !important;
    color: rgba(255,255,255,0.5);
    font-weight: 500;
}

.nav-link strong{
    color: var(--primary);
}
.nav-link.active strong{
    color: var(--light);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.tab-content.bg-primary{
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 00.25rem;
}