<%- include("../includes/header.ejs",{title:title}); %>

<table id="principal"></table>

<a class="btn btn-primary text-light" href="/categorias/novo">Adicionar</a>

<meta id="conData" val='<%- data -%>'>

<script src="/public/js/views/categorias/index/functions.js"></script>
<script src="/public/js/views/categorias/index/sockets.js"></script>

<div class="modal fade" id="mdl_categoria">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4><strong><span id="mdl_nome"></span></strong></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="border p-2 rounded">
                    <div class="row">
                        <div class="col">
                            <label for="">Descrição:</label>
                            <strong><span id="mdl_descricao"></span></strong>
                        </div>
                    </div>
                </div>
                <div class="border p-2 rounded mt-2">
                    <div class="col">
                        <div id="mdl_sub">
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../includes/footer.ejs"); %>