<%- include("../includes/header.ejs",{title:title}); %>

<table id="principal"></table>

<a class="btn btn-primary text-light" href="/medidas/novo">Adicionar</a>

<script src="/public/js/views/medidas/index/sockets.js"></script>
<script src="/public/js/views/medidas/index/functions.js"></script>
<script>
    new gridjs.Grid({
        columns: [
            {
                data: (row) => (row.ativo == 1)?row.nome:gridjs.html(row.nome+' <span class="badge bg-danger text-light">Inativo</span>'),
            },
            {
                id:'_id',
                name:'',
                width: '15%',
                formatter:(cell) => gridjs.html(`
                    <a href="/medidas/editar/${cell}" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
                    <button onclick="modalMedida('${cell}')" class="btn btn-secondary"><i class="fa-solid fa-eye"></i></button>
                `),
            },
        ],
        data:<%-data-%>,
        search: true,
        language:{
            'search':{
                'placeholder': 'Pesquisar',
            },
        },
        pagination: {
            limit: 10,
            summary: false,
        },
    }).render(document.getElementById("principal"));
</script>

<div class="modal fade" id="mdl_medida">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4><strong><span id="mdl_nome"></span></strong></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="border p-2 rounded">
                    <div class="row">
                        <div class="col">
                            <label for="">Descrição:</label>
                            <strong><span id="mdl_descricao"></span></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../includes/footer.ejs"); %>