<%- include("../includes/header.ejs",{title:title}); %>

<table id="principal"></table>

<a class="btn btn-primary text-light" href="/produtos/novo">Adicionar</a>

<meta id="conData" val='<%-data-%>'>

<script src="/public/js/views/produtos/index/functions.js"></script>

<%- include("../includes/footer.ejs"); %>