<%- include("../includes/header.ejs",{title:title}); %>
<% cliente = JSON.parse(cliente) %>

<form id="form_cadastro">
    <div class="card">
        <div class="card-header">
            <strong>Classificação</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="inp_pessoa">Tipo</label>
                    <select name="inp_pessoa" id="inp_pessoa" class="form-control">
                        <option value="1" <%- (cliente['inp_pessoa'] != '2')?'selected':'' -%>>Pessoa Jurídica</option>
                        <option value="2" <%- (cliente['inp_pessoa'] == '2')?'selected':'' -%>>Pessoa Física</option>
                    </select>
                </div>
                <div class="col">
                    <label for="inp_mei">MEI</label>
                    <select name="inp_mei" id="inp_mei" class="form-control">
                        <option value="0" selected>Não</option>
                        <option value="1">Sim</option>
                    </select>
                </div>
                <div class="col">
                    <label for="inp_enquadramento">Enquadramento Fiscal</label>
                    <select name="inp_enquadramento" id="inp_enquadramento" class="form-control">
                        <option value="1" selected>Simples Nacional</option>
                        <option value="2">Lucro Presumido</option>
                        <option value="3">Lucro Real</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <strong>Dados Gerais</strong>
        </div>
        <div class="card-body">
            <div class="row mt-3">
                <div class="col">
                    <label for="inp_razaoSocial">Nome/Razão Social <small class="text-danger">*</small></label>
                    <input type="text" class="form-control" id="inp_razaoSocial" name="inp_razaoSocial" required>
                </div>
                <div class="col">
                    <label for="inp_nomeFantasia">Nome Fantasia <small class="text-danger">*</small></label>
                    <input type="text" class="form-control" id="inp_nomeFantasia" name="inp_nomeFantasia" required>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="inp_cpf">CPF <small class="text-danger">*</small></label>
                    <input type="text" name="inp_cpf" id="inp_cpf" class="form-control" disabled required>
                </div>
                <div class="col">
                    <label for="inp_cnpj">CNPJ <small class="text-danger">*</small></label>
                    <input type="text" name="inp_cnpj" id="inp_cnpj" class="form-control" required>
                </div>
                <div class="col">
                    <label for="inp_ie">Inscrição Estadual <small class="text-danger">*</small></label>
                    <input type="text" name="inp_ie" id="inp_ie" class="form-control" required>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <strong>Endereço</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="inp_cidade">Cidade <small class="text-danger">*</small></label>
                    <input type="text" name="inp_cidade" id="inp_cidade" class="form-control" required>
                </div>
                <div class="col">
                    <label for="inp_cep">CEP <small class="text-danger">*</small></label>
                    <input type="text" name="inp_cep" id="inp_cep" class="form-control" required>
                </div>
                <div class="col-2">
                    <label for="inp_estado">Estado <small class="text-danger">*</small></label>
                    <select name="inp_estado" id="inp_estado" class="form-control" required>
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                        <option value="EX">Estrangeiro</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="inp_bairro">Bairro <small class="text-danger">*</small></label>
                    <input type="text" name="inp_bairro" id="inp_bairro" class="form-control" required>
                </div>
                <div class="col">
                    <label for="inp_logradouro">Logradouro <small class="text-danger">*</small></label>
                    <input type="text" name="inp_logradouro" id="inp_logradouro" class="form-control" required>
                </div>
                <div class="col">
                    <label for="inp_complemento">Complemento</label>
                    <input type="text" name="inp_complemento" id="inp_complemento" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <strong>Contato</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <label for="inp_telefone">Telefone <small class="text-danger">*</small></label>
                    <input type="tel" name="inp_telefone" id="inp_telefone" class="form-control" required>
                </div>
                <div class="col">
                    <label for="inp_cel">Celular</label>
                    <input type="tel" name="inp_cel" id="inp_cel" class="form-control">
                </div>
                <div class="col">
                    <label for="inp_cel2">Celular 2</label>
                    <input type="tel" name="inp_cel2" id="inp_cel2" class="form-control">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="inp_email">Email</label>
                    <input type="email" name="inp_email" id="inp_email" class="form-control">
                </div>
                <div class="col">
                    <label for="inp_site">Site</label>
                    <input type="text" name="inp_site" id="inp_site" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="card mt-3">
        <div class="card-header">
            <strong>Fiscal</strong>
        </div>
        <div class="card-body">
        </div>
    </div>
    -->

    <div class="card mt-3">
        <div class="card-header">
            <strong>Observações</strong>
        </div>
        <div class="card-body">
            <textarea name="inp_obs" id="inp_obs" class="form-control" rows="10"></textarea>
        </div>
    </div>

    <div class="mt-3">
        <a href="/clientes" class="btn btn-secondary text-light">Voltar</a>
        <button type="submit" class="btn btn-primary text-light">Salvar</button>
    </div>
</form>

<script>
    $('#inp_cpf').mask('999.999.999-99');
    $('#inp_cnpj').mask('99.999.999/9999-99');
    $("#inp_cep").mask('99.999-999');
    $("#inp_telefone").mask('(99) 99999-9999');
    $("#inp_cel").mask('(99) 99999-9999');
    $("#inp_cel2").mask('(99) 99999-9999');
    $("#inp_razaoSocial").focus();

    $('#form_cadastro').submit((e)=>{
        e.preventDefault();
        console.log(JSON.stringify($(e.target).serializeArray()));
        /*
        console.log('enviando');
        socket.emit('addUsr',JSON.stringify($(e.target).serializeArray()));
        socket.on('addUser-resp',(resp)=>{
            Swal.fire({
                icon:(resp['success'])?'success':'error',
                showConfirmButton: false,
                title:(resp['success'])?'Cliente salvo':resp['err'],
                timer: 1500
            }).then(()=>{if(resp['success']){location.href='/clientes'}});
        });
        */
    });

    $('#inp_pessoa').change(()=>{
        let val = $('#inp_pessoa option:selected').val();
        
        if(val == 2){
            $("#inp_mei").attr('disabled','');
            $("#inp_enquadramento").attr('disabled','');
            $("#inp_nomeFantasia").attr('disabled','');
            $("#inp_cnpj").attr('disabled','');
            $("#inp_ie").attr('disabled','');
            $("#inp_cpf").removeAttr('disabled');
        }
        else{
            $("#inp_mei").removeAttr('disabled','');
            $("#inp_enquadramento").removeAttr('disabled','');
            $("#inp_nomeFantasia").removeAttr('disabled','');
            $("#inp_cnpj").removeAttr('disabled','');
            $("#inp_ie").removeAttr('disabled','');
            $("#inp_cpf").attr('disabled','');
        }
    });

    $('#inp_mei').change(()=>{
        let val = $('#inp_mei option:selected').val();

        if(val == 1){
            $('#inp_enquadramento').attr('disabled','');
            $('#inp_ie').attr('disabled','');
        }
        else{
            $('#inp_enquadramento').removeAttr('disabled');
            $('#inp_ie').removeAttr('disabled');
        }
    });
</script>

<%- include("../includes/footer.ejs"); %>